.affair__wrapper {
    display: flex;
    align-items: flex-end;
}

.affair__text, .affair__priority {
    background: #ffffff;
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
    padding: 4px;
    width: 200px;
    margin-bottom: 10px;
    height: 16px;
    color: #000;
    border-radius: 3px;
    border: 2px solid #000000;
}

.affair__priority {
    width: 45px;
}
