.greeting__wrapper {
    margin: 10px;
    padding: 10px 15px;
    min-height: 70px;
    background: #d2f600;
    display: flex;
}

.greeting__inner {
}

.total_usersCount {
    margin: 12px 10px 0;
    font-size: 20px;

}

.total_usersNames {
    margin-top: 14px;
    display: flex;
}






